body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Open Sans Condensed';
    font-size: 20px;
    color: #c4c4c4;
}

.container {
    position: relative;
    top: 10%;
    width: 80%;
    height: 70%;
    left: 10%;
    bottom: 10%;
}

.header {
    position:relative;
    height:15%;
    background-color: #FFFFFF;
    color: #c4c4c4;
    border-bottom: 1px solid #c4c4c4;
}

.title-bar {
    color: #a2a2a2;
    position:absolute;
    width:30%;
    text-align: left;
    left: 0;
    bottom:0;
}



.content-pane {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
}

.button-pane {
    width:30%;
    position:absolute;
    right:0;
    bottom: 0;
}

.dynamic-test {
    position: absolute;
    background-color: #ffffff;
    color: #a2a2a2;
    right: 0;
    bottom: 0;
    border: 0px;
    font-family: inherit;
    font-size: inherit;
}