<div class="content">
  <div class="body-left"><img class="display-photo" src="../assets/linkedinmedium.jpg"></div>
  <div class="body-right">
    I'm Michael Blair, a Computer Science Major from Brisbane Australia, minoring in Intelligent Systems and Security. <br>
    Professional Interests are:
    <ul class="paragraph-list">
      <li>Biotechnology</li>
      <li>Machine Learning</li>
      <li>Data Science</li>
      <li>Information Security</li>
    </ul>
    Feel free to take a look at my Resume or Transcript
</div>
